*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: @basic-font;
  color: @basic-black;
  font-weight: 400;
}

ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}

p {
  margin: 0 0 0 0;
}

fieldset {
  padding: 0 0 0 0;
  border: none;
}

blockquote {
  margin: 0 0 0 0;
}

figure {
  margin: 0 0 0 0;
}

img {
  object-fit: contain;
}

li {
  list-style: none;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}
