.principle {
  background-color: @extra-gray;

  .heading__h3 {
    padding-bottom: 25px;
    padding-top: 38px;
    margin-bottom: 28px;
  }
}

.principle__strong {
  font-size: 22px;

  @media (max-width: 1440px) {
    font-size: 16px;
  }
}

.principle__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;

  @media (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: unset;
    padding: 0 0 20px 0;
  }
}

.principle__description {
  font-size: 16px;
  line-height: 20px;
}

.principle__box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.principle__item {
  &:nth-child(4) {
    grid-column: 3/1;
  }
}

.principle__strong {
  margin-left: 20px;
}

.principle__inner {
  padding-bottom: 50px;

  @media (max-width: 1440px) {
    padding: 0 16px 0 16px;
  }
}

.principle__item {
  @media (max-width: 1440px) {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}
